<template>
  <div>
    <div>Counter: {{counter}}</div>
    <button @click="increment()">Increment</button>
    <button @click="decrement()">Decrement</button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { mapState, mapActions, mapGetters } from "vuex";

@Component({
  computed: {
    ...mapGetters('counter',["counter"])
  },
  methods: {
    ...mapActions('counter',["increment", "decrement"])
  }
})
export default class Counter extends Vue {}
</script>

