<template>
  <div>
    <!-- .row*2>.col -->
    <div class="row">
      <div class="col">
        <SearchField @search="search" :query="query" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p v-if="message">{{message}}</p>
        <SearchResults :results="results" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import SearchField from "../components/SearchField.vue";
import SearchResults from "../components/SearchResults.vue";
import { Album, Artist } from "../models/Album";
import { musicSearch } from "@/services/MusicSearchService";
import { mapGetters, mapActions } from "vuex";
import { Watch } from "vue-property-decorator";

@Component({
  components: {
    SearchField,
    SearchResults
  },
  computed: {
    ...mapGetters({
      results: "albums",
      query: "music_query",
      message: "message"
    })
  },
  methods: {
    ...mapActions({ searchAlbums: "searchAlbums" })
  },
  beforeRouteEnter(this: MusicSearchView, to, from, next) {
    console.log("beforeRouteEnter");
    next();
  },
  beforeRouteUpdate(this: MusicSearchView, to, from, next) {
    console.log("beforeRouteUpdate");
    const q = to.query["q"] as string;

    if (q) {
      this.searchAlbums(q);
    }
    next();
  },
  beforeRouteLeave(this: MusicSearchView, to, from, next) {
    console.log("beforeRouteLeave");
    next();
  }
})
export default class MusicSearchView extends Vue {
  results!: Album[] | Artist[];
  query!: string;
  message!: string;

  searchAlbums!: (query: string) => void;

  created() {
    const q = this.$route.query["q"] as string;

    if (q) {
      this.searchAlbums(q);
    }
  }

  // @Watch("$route", { immediate: true })
  // routeChange() {
  //   const q = this.$route.query["q"] as string;

  //   if (q) {
  //     this.searchAlbums(q);
  //   }
  // }

  // beforeRouteEnter() {
  //   debugger;
  // }

  search(query: string) {
    this.$router.push({
      name: "musicsearch",
      query: { q: query }
    });
  }
}
</script>
