<template>
  <div class="form-group">
    <label>{{label}}:</label>

    <slot v-bind:value="value"></slot>

    <!-- <div  v-for="i of 3" :key="i">
        <slot v-bind:value="i"></slot>
    </div> -->

    <!-- <p class="float-right">0/255 </p> -->
    <p class="form-feedback" v-for="error of errors" :key="error">{{error}}</p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";

@Component({})
export default class FormField extends Vue {
  @Prop({}) label!: string;
  @Prop({}) errors!: string[];

  @Prop({}) value!: string[];
}
// Advanced usages:
// https://vuejs.org/v2/cookbook/practical-use-of-scoped-slots.html
// https://github.com/Akryum/vue-virtual-scroller
// https://github.com/posva/vue-promised
// https://github.com/LinusBorg/portal-vue
// https://github.com/vuejs/awesome-vue
</script>
