<template>
  <div>
    <!-- dl>(dt+dd)*3 -->
    <dl :id="playlist.id" :title="playlist.name" :data-playlist-id="playlist.id">
      <dt>Name:</dt>
      <dd>{{playlist.name}}</dd>

      <dt>Favorite:</dt>
      <dd>{{ playlist.favorite? 'Yes':'No' }}</dd>

      <dt>Color</dt>
      <dd
        :style="{
          color: playlist.color, 
          background:playlist.color
        }"
      >{{ playlist.color }}</dd>
    </dl>
    <input type="button" value="Edit" class="btn btn-info" @click="edit" />
  </div>
</template>

<script lang="ts">
import { Playlist } from "../models/Playlist";
import { Prop, Component, Vue } from "vue-property-decorator";

@Component({})
export default class PlaylistDetails extends Vue {
  @Prop({})
  playlist!: Playlist;

  edit() {
    this.$emit("edit");
  }

  // constructor() {
  //   super();
  //   console.log("constructor");
  // }

  // beforeCreate() {
  //   console.log("beforeCreate");
  // }
  // created() {
  //   console.log("created");
  // }

  // beforeMount() {
  //   console.log("beforeMount");
  // }
  // mounted() {
  //   console.log("mounted");
  // }

  // beforeUpdate() {
  //   console.log("beforeUpdate", arguments);
  // }
  // updated() {
  //   console.log("updated", arguments);
  // }

  // beforeDestroy() {
  //   console.log("beforeDestroy", arguments);
  // }
  // destroyed() {
  //   console.log("destroyed", arguments);
  // }
}
</script>

