<template>
  <!-- @submit.prevent="search(query)" -->
  <form class="input-group mb-3" action="/">
    <input  type="text" class="form-control" :placeholder="$attrs.placeholder"
      :value="query" 
      @input="search($event.target.value)"
      v-bind="$attrs" v-on="$listeners"
    />
  </form>
</template>

<script lang="ts">
//#region importowania 
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
//#endregion
@Component({
  inheritAttrs: false,
  model: {
    event: "search",
    prop: "query"
  }
})
export default class SearchField extends Vue {
  @Prop()
  query!: string;
  debounce!: number;
  
  search(query: string) {
    clearTimeout(this.debounce);
    this.debounce = setTimeout(() => {
      this.$emit("search", query);
    }, 400);
  }

  // v-on="eventsMap"
  //   eventsMap = { focus: this.myFocus, change: this.mwhenChange }
}
</script>
