<template>
  <div class="card-group">
    <AlbumCard v-for="result of results" :key="result.id" :album="result" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import AlbumCard from "./AlbumCard.vue";
import { Prop } from "vue-property-decorator";
import { Album } from "../models/Album";

@Component({
  components: { AlbumCard }
})
export default class SearchResults extends Vue {
  @Prop({}) results!: Album[];

  placki: string = ''
}
</script>

<style>
  .card{
    min-width: 25% !important;
  }
</style>
